img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-family: 'Bruno Ace SC', cursive;
  background-color: black;
  line-height: 1.5;
}
button{
    font-family: 'Bruno Ace SC', cursive;
}
a {
  color: #d1d1d1;
  text-decoration: none;
}
