*,*::before,*::after{
    box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-family: 'Bruno Ace SC', cursive;
  background-color: black;
  line-height: 1.5;
}
button{
    font-family: 'Bruno Ace SC', cursive;
    cursor: pointer;
}
a {
  color: #d1d1d1;
  text-decoration: none;
    &:hover{
        opacity: 0.8;
    }
}
