.container {
  max-width: 1296px;
  margin: 0 auto;
}
// --- flex ---
.d-flex {
  display: flex;
}

@each $key, $value in $justify-content {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $align-items {
  .align-items-#{$key} {
    align-items: $value;
  }
}

// --- 文字大小 ---
@each $key, $value in $title-size {
  .h#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $font-size {
  .fs-#{$key} {
    font-size: $value;
  }
}

// ---顏色---
@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }
}

// --- margin、padding、gap ---
@each $dir-key, $dir-value in $direction {
  @each $key, $value in $space-size {
    .m#{$dir-key}-#{$key} {
      margin-#{$dir-value}: $value;
    }
  }
  @each $key, $value in $space-size {
    .p#{$dir-key}-#{$key} {
      padding-#{$dir-value}: $value;
    }
  }
}
@each $key, $value in $gap-size {
  .g-#{$key} {
    gap: $value;
  }
}

.text-right {
  text-align: right;
}
