// --- 文字 ---
$title-size: (
  1: 128px,
  2: 64px,
);
$font-size: (
  1: 24px,
  2: 20px,
  3: 16px,
);

$text-align: (center, right);

// ---顏色---
$colors: (
  'green': #00ffa3,
  'white': #ffffff,
  'black': black,
);
// --- flex ---
$justify-content: (
  center: center,
  between: space-between,
);
$align-items: (
  center: center,
  start: flex-start,
  end: flex-end,
);
// margin、padding、gap
$direction: (
  t: top,
  b: bottom,
  e: right,
  s: left,
);

$space-size: (
  4: 4px,
  16: 16px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  72: 72px,
  76: 76px,
  96: 96px,
  160: 160px,
  auto: auto,
);

$gap-size: (
  1: 16px,
  2: 20px,
  3: 24px,
);
