<header class="container pt-40 header">
    <ul class="d-flex justify-content-between text-white">
        <li>WILLIAM LEE</li>
        <li>BASED IN TAIWAN</li>
        <li>CURRENTLY FRONT END<br>ENGINEER AT HEXSCHOOL</li>
        <li><a href="#">CONTACT ME</a></li>
    </ul>
</header>